$hue: 194;
$bg-color: hsl($hue, 5%, 7%);
$text-color: hsl($hue, 40%, 98%);
$primary-color: hsl($hue, 100%, 63%);
$controls-bg-color: hsl($hue, 0%, 14%);

:root {
    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;

    body {
        background-color: $bg-color;
        color: $text-color;

        display: grid;
        height: 100vh;
        place-content: center;

        #app {
            display: grid;
            justify-items: center;

            #timer {
                font-size: 9.6rem;
                font-weight: bold;
            }

            #controls {
                margin-top: 1.6rem;
                padding: 2.2rem 4rem;
                gap: 1.6rem;
                background-color: $controls-bg-color;
                border-radius: 999rem;
            }

            button {
                background-color: transparent;
                border: 0;
                color: $primary-color;

                cursor: pointer;

                font-size: 6.4rem;
            }

            .secondary {
                color: $text-color;
            }
        }

        .flex {
            display: flex;
        }
    }
}
